// ------------------------------
header {
    a.register-btn{
        background: #950000;
        color: #ffffff;
        border-color: #800000;
    }
}

a.register-btn{
    background: #950000 !important;
    color: #ffffff;
    border-color: #800000;
}